<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <!--<servlet>
    <servlet-name>Parse</servlet-name>
  <servlet-class>com.parse.ParseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Parse</servlet-name>
    <url-pattern>/Parse</url-pattern>
  </servlet-mapping>-->
</web-app>
